  .form-group label {
    font-size: 13px;
    color: #4E5361;
    margin-bottom: 12px;
  }
  .form-group .form-control {
    border: 1px solid #E7E9ED;
    height: 50px;
    border-radius: 3px;
  }
  .form-control {
    color: #666666;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: none;
  }
  .form-control:focus{
    background-color: #ffffff;
  }
  .form-control::placeholder { 
    color: #A6ABBA !important;
    opacity: 1;
  }
  #ChangePasswordForm p{
    color: red;
  }
  .change-pw{
    background-color: #3BB3D5;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 10px 30px;
    display: inline-block;
    margin-bottom: 30px;
  }