<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Change Password</nb-card-header>
        <nb-card-body>
          <form [formGroup]="ChangePasswordForm" (ngSubmit)="changePassword()" id="ChangePasswordForm">
            <div class="offset-md-3 col-md-6">
              <div class="form-group">
                <label for="password">Current Password</label>
                <input type="password" name="current" class="form-control" formControlName="current" [formGroup]="ChangePasswordForm"
                placeholder="Current Password">  
                <div class="form-control-feedback" *ngIf="ChangePasswordForm.controls.current.errors && 
                (ChangePasswordForm.controls.current.dirty || ChangePasswordForm.controls.current.touched)">
                    <p *ngIf="ChangePasswordForm.controls.current.errors">Current Password is required</p>
                </div>
              </div>
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" formControlName="password" [formGroup]="ChangePasswordForm" placeholder="New Password">
                <div class="form-control-feedback" *ngIf="ChangePasswordForm.controls.password.errors && 
                (ChangePasswordForm.controls.password.dirty || ChangePasswordForm.controls.password.touched)">
                    <p *ngIf="ChangePasswordForm.controls.password.errors">New password is required</p>
                </div>                
              </div>
              <div class="form-group">
                <label for="confirmPassword">Conform Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" [formGroup]="ChangePasswordForm" placeholder="Confirm Password">
              </div>
              <div class="alert alert-danger" *ngIf="ChangePasswordForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
              <div class="text-center">
                <button type="submit" class="btn change-pw">Update</button>
              </div>
            </div>
          </form>


          <!-- <form novalidate [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePasswordForm.valid && changePassword()">
            <div class="offset-md-3 col-md-6">
              <div class="col-xs-12 col-sm-12">
                <div class="form-group" [ngClass]="{ 'has-danger': pw.invalid && (pw.dirty || pw.touched),
                    'has-success': pw.valid && (pw.dirty || pw.touched) }">
                  <input type="password" class="form-control" formControlName="pw" placeholder="Current Password" required>
                  <div class="form-control-feedback" *ngIf="pw.errors && (pw.dirty || pw.touched)">
                    <p *ngIf="pw.errors.required">Password is required</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="form-group" [ngClass]="{ 'has-danger': pw1.invalid && (pw1.dirty || pw1.touched),
                    'has-success': pw1.valid && (pw1.dirty || pw1.touched) }">
                  <input type="password" class="form-control" formControlName="pw1" placeholder="New Password" required>
                  <div class="form-control-feedback" *ngIf="pw1.errors && (pw1.dirty || pw1.touched)">
                    <p *ngIf="pw1.errors.required">Password is required</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="form-group" [ngClass]="{ 'has-danger': pw2.invalid && (pw2.dirty || pw2.touched),
                    'has-success': pw2.valid && (pw2.dirty || pw2.touched) }">
                  <input type="password" class="form-control" formControlName="pw2" placeholder="Confirm Password" required>
                  <div class="form-control-feedback" *ngIf="pw2.errors && (pw2.dirty || pw2.touched)">
                    <p *ngIf="pw2.errors.required">Password is required</p>
                    <div class="alert alert-danger" *ngIf="form.controls.pw2.errors?.MutchPassword">Password not match</div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn change-pw">Update</button>
              </div>
            </div>
          </form> -->
        </nb-card-body>
      </nb-card>
  </div>
</div>
