@import '../../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown {
      flex-basis: 30%;
      min-width: 220px;
    }
  }
  nb-card-footer {
    width: 100%;
    display: inline-block;
  }
  #map-container{
    width: 100%;
    height: 400px;
  }
  .show-grid div{
    width: 100%;
  }
  .form-group label {
    font-size: 13px;
    color: #4E5361;
    margin-bottom: 12px;
  }
  .form-group .form-control {
    border: 1px solid #E7E9ED;
    height: 50px;
    border-radius: 3px;
  }
  .form-control {
    color: #666666;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: none;
  }
  .form-control:focus{
    background-color: #ffffff;
  }
  .form-control::placeholder { 
    color: #A6ABBA !important;
    opacity: 1;
  }
  .btn-save{
    background-color: #3BB3D5;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 10px 30px;
    display: inline-block;
    border: none;
    cursor: pointer;
  }
}
